.chapter {
    display: flex;
    flex-direction: column;
}

.chapter .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: .8rem;
}

.chapter .description {
    font-size: 14px;
    font-weight: 400;
    width: 100%
}