section {
  color: #000
}

section .title {
  font-size: 64px;
  margin-bottom: 1rem;
}

section .description {
  font-size: 18px;
  font-family: ubuntu;
  width: 25%;
  font-weight: 400;
}

section div.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 840px) {
  section div.gallery {
    flex-direction: column;
  }
}

section div.gallery-item {
  width: 48%;
}

@media only screen and (max-width: 840px) {
  section div.gallery-item {
    width: 95%
  }
}

section div.gallery-item img {
  border-radius: 20px;
  width: 100%;
}

section .extra-info {
  position: relative;
  transform: translateY(-40px);
  margin: auto;
  width: 80%;
  border: 1px solid white;
  background: linear-gradient(94.33deg, rgba(255, 255, 255, 0.6) 3.19%, rgba(255, 255, 255, 0.1) 99.26%);
  backdrop-filter: blur(10px);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  color: #000;
}