section {
  color: #000
}

section .title {
    font-size: 64px;
    margin-bottom: 1rem;
}

section .description {
  font-size: 18px;
  font-family: ubuntu;
  width: 25%;
  font-weight: 400;
}

section div.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

section div.gallery-item {
  width: 45%
}

section div.gallery-item img {
  border-radius: 20px;
  width: 100%;
}